In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Waingapu,-9.6567,120.2641,81.95,63,44,2.46,ID,2022-09-28 00:26:22
1,1,Port Lincoln,-34.7333,135.8667,53.51,65,100,11.90,AU,2022-09-28 00:23:06
2,2,Iquitos,-3.7481,-73.2472,84.24,65,75,5.75,PE,2022-09-28 00:26:33
3,3,Kamina,-8.7386,24.9906,72.66,54,85,3.49,CD,2022-09-28 00:26:38
4,4,Punta Arenas,-53.1500,-70.9167,44.71,70,0,12.66,CL,2022-09-28 00:24:06

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))